#main-navbar{
    width: 160px !important ;
}
.rounded-card{
    border-radius: 1.25rem !important;
}
.rounded-btn{
    border-radius: 0.75rem !important;
}
.coverpage{
    font-size: 130px !important;
}
.card-pointer{
    cursor: pointer !important;
    transition: box-shadow .3s;
}
.card-pointer:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}